.ck-powered-by {
  display: none;
}

.ck.ck-editor {
  display: flex;
  flex-direction: column-reverse;
  background-color: transparent !important;
  border: 0.6px solid var(--borderColor);
  border-radius: 4px !important;
}

.ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content {
  border: none !important;
}

/* Custom styles for CKEditor */
.ck-editor__editable_inline {
  background: none !important;
  /* Set toolbar background to none */
  border: none !important;
  min-height: 90px;
  /* Ensure minimum height for editor content */
  padding: 10px;
  /* Add some padding for better content spacing */
  box-sizing: border-box;
  width: 1000px;
  height: 150px;
  border-radius: 4px;
}

.ck.ck-toolbar {
  background: none !important;
  /* Set toolbar background to none */
  border: none !important;
  /* Remove toolbar border */
}

.ck.ck-toolbar .ck-button .ck-icon {
  color: #ffffff !important;
  /* Set toolbar icon color to white */
}

.ck.ck-toolbar .ck-button:hover {
  background: rgba(255, 255, 255, 0.1) !important;
  /* Optional: Add a slight hover effect */
}

.ck-content {
  color: #ffffff;
}
