.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.page-button {
  padding: 0.5rem 1rem;

  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.page-button:hover:not(.active) {
  color: #98a4ae;
}

.page-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
