.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* scrollbar.css */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-background);
  border-radius: 10px;
  border: 3px solid var(--scrollbar-track-background);
}

/* Fallback for non-webkit browsers */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-background)
    var(--scrollbar-track-background);
}

:root {
  --primary: #f49b36;
  --secondary-fill: #0b1739;
  --secondary-fill-dark: #0a1330;
  --purple: #635bff;
  --purple-opacity: rgba(91, 99, 255, 0.2);
  --warning: #f8c20a;
  --warning-opacity: rgba(248, 194, 10, 0.2);
  --tealGreen: #16cdc7;
  --tealGreen-opacity: rgba(22, 205, 199, 0.2);
  --green: #00f586;
  --green-opacity: rgba(0, 245, 134, 0.2);
  --active: #36c7c3;
  --active-opacity: rgba(54, 199, 195, 0.2);
  --success: #36c76c;
  --success-opacity: rgba(54, 199, 108, 0.2);
  --delete: #ff6692;
  --delete-opacity: rgba(255, 102, 146, 0.2);
  --notification: #e62e7b;
  --danger: #eb001b;
  --danger-opacity: rgba(235, 0, 27, 0.2);
  --blue: #081028;
  --darkBlue: #0b1739;
  --borderColor: #343b4f;
  --labelColor: #98a4ae;
  --successBorder: rgba(54, 199, 108, 0.2);
  --grey-primary-light: #98a4ae;
  --grey-dark: #19191a;
}

/* Example usage:
    .element {
        background-color: var(--primary);
        color: var(--secondary-fill);
        border-color: var(--borderColor);
    }
*/
